<%- include('partials/header'); -%>
<body class="bg-gradient-info">

    <div class="container mt-5">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="row justify-content-center">
                                    <img src="./img/Neeko_0.jpg" alt="leagueimg" width="500vw" height="400vh">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-0 m-4">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Olvisate tu contraseña?</h1>
                                        <p class="mb-4">Escribre tu email para enviartela</p>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address...">
                                        </div>
                                        <a href="index.html" class="btn btn-info btn-user btn-block">
                                            Reset Password
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="register.html">Crear cuenta!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="index.html">Ya tienes cuenta? Inicia sesión!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>