<%- include('partials/header'); -%>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="row justify-content-center">
                <h1>Bienvenido a League of logs</h1>
            </div>
        </div>
    </div>

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="row justify-content-center">
                                    <img src="./img/AurelionSol_0.jpg" alt="leagueimg" width="500vw" height="400vh">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido invocador</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="summonerName" aria-describedby="emailHelp"
                                                placeholder="Ingresa tu nombre de invocador">
                                        </div>
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" 
                                            placeholder="contraseña">
                                        <a id="btnLogin" class="btn btn-primary btn-user btn-block mt-4">
                                            Entrar
                                        </a>
                                    </form>
                                    <div class="text-center mt-2">
                                        <a class="small" href="register.html">Crear una cuenta</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Olvidaste tu contraseña?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-6 col-lg-9 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <!-- Nested Row within Card Body -->
                    <div class="row justify-content-center">
                        <div class="p-5">
                            <h5>Ve las estadísticas de los profesionales</h2>
                                <table class="pro-table text-center">
                                    <thead class="text-center">
                                        <tr>
                                            <th>Nombre de invocador</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr class="m-5">
                                            <td>sujeto 1</td>
                                            <td>
                                                <a href="dashboard.html">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="m-5">
                                            <td>sujeto 2</td>
                                            <td>
                                                <a href="dashboard.html">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="m-5">
                                            <td>sujeto 3</td>
                                            <td>
                                                <a href="dashboard.html">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/scripts/summoner.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all indexs-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>